h1 { font-family: sans-serif;
          color: orange;}
        ul {background: yellow;}
        .style-plusH { background-color: red; }  
        p { font-weight: 600; }

        body {font-size: 16px;}
        .customcolor {background-color: yellow;}
        .customcolor2 {background-color: darkred;}
        .customcolor3 {background-color: brown;}
